# Terraform
.terraform/
terraform.tfstate*
*.tfstate.backup
*.tfplan
terraform.rc
.terraform.lock.hcl

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.egg-info/
dist/
build/

# Mac
.DS_Store

# General
*.log
*.swp
*.swo
*.bak
*.tmp
*.temp
*.out
*.idea/